body {
    background-color: rgb(73, 121, 121);
}

h1 {
    color: black;
    text-align: center;
}

p {
    color: rgb(132, 0, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    
}

#encabezado {
    background-color: rgb(59, 97, 84);
    height: 60px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /*border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(223, 12, 12, 11);*/
}

.logo {
    width: 20%;
    height: 100%;
   /* background-color: rgb(231, 197, 218);*/
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo img {
    width: 50%;
    height: 100%;
}

.menu {
    width: 90%;
    height: 100%;
    /*background-color: rgb(231, 197, 218);*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgb(77, 79, 100);
}

.menu ul li {
    float: left;
}

.menu ul li a {
    display: block;
    color: rgb(11, 20, 27);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.menu ul li a:hover {
    color: #fff;
    background-color: rgb(82, 66, 97);
}

.redes {
    width: 20%;
    height: 100%;
    /*background-color: rgb(231, 197, 218);*/
    display: flex;
    justify-content: center;
    align-items: center;

}
.redes img{
    width: 40px;
}

#encabezado .encabezado1 {
    color: black;
}

#encabezado .encabezado2 {
    color: brown;
}

#encabezado .encabezado3 {
    color: rgb(150, 140, 160);
}


#conttargetas {
    height: 450px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#informacion{
    background-color: rgb(69, 41, 73);
}
.targeta{
    background-color: #ffffff;
    width: 350px;
    height: 400px ;
    justify-content: center;
    align-items: center;
     box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); 
}
.targeta img{
    width: 80%;
    margin: 0 auto;
    padding: 10%;
}
.targeta h1{
    text-align: center;
    color: black;
}
.targeta p{
    text-align: center;
    color: gray;
    padding: 10px;
     font-size: 12px;
}
#informacion {
    background-image: url("../IMAGES/fondo1.jpg");
    background-position: center;
    height: auto;
    width: 80%;
    margin: 0 auto;
}
#informacion h1, h3{
    color: white;
    text-align: center;
    
}
#informacion p{
    color: white;
    text-align: justify;
    padding: 30px;
   
}
#informacion li{
    color: white;
}
#pie {
    background-color: gray;
    height: 70px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.pieizq{
    width: 50%;
    text-align: left;
    color: #fff;
    padding: 20px;
    text-align: center;
}
