body{
    background-color: rgb(156, 156, 156);
}
h1{
    font-size: x-large;
    color: blanchedalmond;
    text-align: center;

}
p{
    color: brown;
}
#encabezado {
    background-color: rgb(87, 119, 148);
   /*min-height: 200px;*/
    height: 60px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#card2{
    background-color: rgb(147, 81, 81);
    height: 60%;
    width: 70%;
    margin: 0 auto;
    padding: 12px;
  
}
#card2 .card2{
    background-color: rgb(123, 125, 80);
    width: 30%;
}
#card2 img{
 width: 80%;
height: 100%;

}
#card2 h2{
    text-align: center;
    font-size: large;
    
}
#card3{
background-color: rgb(119, 151, 87);
height: 60%;
width: 70%;
margin: 0 auto;
padding: center;

}
.logo{
width: 20%;
height: 100%;
background-color: rgb(185, 100, 164);
display: flex;
justify-content: center;
align-items: center;
}
.logo img{
width: 100px;
}
.menu{
width: 50%;
height: 100%;
/*background-color: aqua;*/
display: flex;
justify-content: center;
align-items: center;
}
#button{
      background-color: rgba(209, 117, 209, 0.933) ;
    padding: 12px 26px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 6px 15px rgba(255, 111, 177, 0.4);
    transition: all 0.3s ease;
}
.menu ul{
    list-style: none ;
    margin: 0;
    padding: 0;
    background-color: rgb(192, 178, 178);
}
.menu ul li{
    float: left;
}
.menu ul li a{
    display: block;
    color: dodgerblue;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.menu ul li a:hover{
    color: #fff;
    background-color: rgb(14, 113, 191);
}
.redes{
width: 25%;
height: 10%;
/*background-color: rgb(106, 247, 94);*/
display: flex;
justify-content: center;
align-items: center;
}
.redes img{
    width: 32px;
}
/*#encabezado h1{
    box-shadow: 20px 5px  12px rgba(223, 12, 12, 11);

    color: rgb(0, 0, 0);
}*/
 .encabezado1{
    color: blueviolet;
    
}
 .encabezado2{
color: rgb(70, 70, 243);
}
 .encabezado3{
    color: lawngreen;
}